[settings]
experimental = true
python.uv_venv_auto = true
idiomatic_version_file_enable_tools = ["ruby"]

[plugins]
"nix" = "https://github.com/jbadeau/mise-nix.git"

[tools.erlang]
version = "latest"

[tools.elixir]
version = "latest"

[tools.zig]
version = "latest"

[tools.lazydocker]
version = "latest"

[tools.unison]
version = "latest"

[tools.docker-compose]
version = "latest"

[tools.mkcert]
version = "latest"

[tools.jj]
version = "latest"
postinstall = """
  jj util completion fish
  jj util completion zsh
  jj config set --user user.name "hj"
  jj config set --user user.email "rjcnd123@gmail.com"
"""

[tools.jjui]
version = "latest"

[tools.claude]
version = "latest"

[tools.gemini-cli]
version = "latest"

[tools.uv]
version = "latest"

[tools.podman]
version = "latest"

[tools.lazyjournal]
version = "latest"

[tools.flyctl]
version = "latest"

[tools.bun]
version = "latest"

[tools.node]
version = "24"
postinstall = "corepack enable"

[tools.lua]
version = "latest"

[tools.python]
version = "latest"

[tools.usage]
version = "latest"

[tools.rust]
version = "latest"

[tools.elixir-ls]
version = "latest"

[tools.gleam]
version = "latest"

[tools.sops]
version = "latest"

[tools.age]
version = "latest"

[tools.lazygit]
version = "latest"

[tools.aws-cli]
version = "latest"

[tools.aws-vault]
version = "latest"

[tools.just]
version = "latest"


# [tools.redis]
# version = "latest"

[tools.difftastic]
version = "latest"

[tools.lima]
version = "latest"

[tools.dive]
version = "latest"

[tools.ffmpeg]
version = "latest"


[tasks.mise-completion]
run = """
  mise completion fish > ~/.config/fish/completions/mise.fish
  chmod +x ~/.config/fish/completions/mise.fish

  jj util completion fish > ~/.config/fish/completions/jj.fish
  jj config set --user user.name "hj"
  jj config set --user user.email "rjcnd123@gmail.com"
  jj config set --user user.editor "cursor"
"""


[tasks.chrome-debug]
run = '''
  /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --remote-debugging-port=9222 --user-data-dir=/tmp/chrome-debug 2>&1 &
'''
