#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "hj"
email = "rjcnd123@gmail.com"

[ui]
editor = "hx"
default-command = "log"
diff-formatter = "difft"


[aliases]
fetch   = ["git", "fetch", "--all-remotes"]
publish   = ["git", "push", "--allow-new"]
