#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "hj"
email = "rjcnd123@gmail.com"

[ui]
editor = "hx"
default-command = "log"
merge-editor = "cursor"
diff-formatter = "difft"

[merge-tools.cursor]
program = "cursor"
merge-args = ["--wait", "--merge", "$left", "$right", "$base", "$output"]
# VS Code reads the output file and behaves better if it's prepopulated with conflict
# markers. Unfortunately, it does not seem to be able to output conflict markers when
# the user only resolves some of the conflicts.
merge-tool-edits-conflict-markers = true

[revset-aliases]
"closest_bm(to)" = "heads(::to & bookmarks())"
"closest_mut_bm(to)" = "heads(::to & bookmarks() & mutable())"

[aliases]
fetch   = ["git", "fetch", "--all-remotes"]
publish   = ["git", "push", "--allow-new"]
# Take content from any change, and move it into @. The inverse of 'eject'
# - jj consume xyz path/to/file`
consume = ["squash", "--into", "@", "--from"]

cp = ["restore", "--to", "@", "--from"]

# Eject content from @ into any other change. The inverse of 'consume'
# - jj eject xyz --interactive
eject = ["squash", "--from", "@", "--into"]

# 가장 가까운 mutable 북마크를 @로 이동
bhere = [
    "bookmark", "move",
    "--from", "closest_mut_bm(@)",
    "--to", "@"
]

# 가장 가까운 북마크를 @로 이동(warning: immutable도 포함!)
"bhere!" = [
    "bookmark", "move",
    "--from", "closest_bm(@)",
    "--to", "@",
]

# 가장 가까운 mutable 북마크를 @-로 이동
bhere- = [
    "bookmark", "move",
    "--from", "closest_mut_bm(@)",
    "--to", "@-",
    "--allow-backwards"
]

# 가장 가까운 북마크를 @-로 이동(warning: immutable도 포함!)
"bhere-!" = [
    "bookmark", "move",
    "--from", "closest_bm(@)",
    "--to", "@-",
]

done = ["util", "exec", "sh", "-c", "jj desc -m \"$1\" && jj bookmark set \"$2\" -r @ && jj new"]
