#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "hj"
email = "rjcnd123@gmail.com"

[ui]
editor = "hx"
default-command = "log"
merge-editor = "zed"
diff-formatter = "difft"


[aliases]
fetch   = ["git", "fetch", "--all-remotes"]
publish   = ["git", "push", "--allow-new"]
# Take content from any change, and move it into @. The inverse of 'eject'
# - jj consume xyz path/to/file`
consume = ["squash", "--into", "@", "--from"]

# Eject content from @ into any other change. The inverse of 'consume'
# - jj eject xyz --interactive
eject = ["squash", "--from", "@", "--into"]

bmove = ["bookmark", "set", "-r", "@"]
bmove- = ["bookmark", "set", "-r", "@-", "--allow-backwards"]

done = ["util", "exec", "sh", "-c", "jj desc -m \"$1\" && jj bookmark set \"$2\" -r @ && jj new"]
