#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "hj"
email = "rjcnd123@gmail.com"

[ui]
editor = "hx"
default-command = "log"
merge-editor = "zed"
diff-formatter = "difft"


[revset-aliases]
"closest_bm(to)" = "heads(::to & bookmarks() & mutable())"
"closest_bm()" = "closest_bm(@)"

[aliases]
fetch   = ["git", "fetch", "--all-remotes"]
publish   = ["git", "push", "--allow-new"]
# Take content from any change, and move it into @. The inverse of 'eject'
# - jj consume xyz path/to/file`
consume = ["squash", "--into", "@", "--from"]

# Eject content from @ into any other change. The inverse of 'consume'
# - jj eject xyz --interactive
eject = ["squash", "--from", "@", "--into"]

# 가장 가까운 mutable 북마크를 @로 이동
bhere = [
    "bookmark", "move",
    "--from", "heads(::@ & bookmarks() & ~immutable_heads())",
    "--to", "@"
]

# 가장 가까운 북마크를 @로 이동(warning: immutable도 포함!)
"bhere!" = [
    "bookmark", "move",
    "--from", "heads(::@ & bookmarks())",
    "--to", "@",
]

# 가장 가까운 mutable 북마크를 @-로 이동
bhere- = [
    "bookmark", "move",
    "--from", "heads(::@ & bookmarks() & ~immutable_heads())",
    "--to", "@-",
    "--allow-backwards"
]

# 가장 가까운 북마크를 @-로 이동(warning: immutable도 포함!)
"bhere-!" = [
    "bookmark", "move",
    "--from", "heads(::@ & bookmarks())",
    "--to", "@-",
]

done = ["util", "exec", "sh", "-c", "jj desc -m \"$1\" && jj bookmark set \"$2\" -r @ && jj new"]
