[core]
quotepath = false
precomposeunicode = true

[push]
autoSetupRemote = true

[delta]
enable = true

[maintenance]
enable = true

[diff-so-fancy]
enable = true

[lfs]
enable = true

[fetch]
prune = true

[hub]
protocol = https

[merge]
ff = false

[pull]
ff = only
